<!DOCTYPE html>
<html>
<head>
	<title><%=title %></title>
	<link rel="stylesheet" type="text/css" href="/design.css">
</head>
<body>
<h1><%=status %></h1>
<a href="/">Go to home page</a>

</body>
</html>		